.mendian.panel{
  .box .wrap{
    width: 90%;
    padding: 10% 5%;
    .title{
      font-size: 1.1rem;
      margin-bottom: 2em;
    }
    table{
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 2em;
      tr{
        margin-bottom: 1.8em;
      }
      td{
        width: 50%;
        font-size: .73rem;
        color: #757171;
        text-align: left;
      }
    }
  }

}
