// @Author: yingzhou xu
// @Date:   2017-04-14T11:15:01+08:00
// @Email:  dyyz1993@qq.com
// @Filename: prize.scss
// @Last modified by:   yingzhou xu
// @Last modified time: 2017-04-14T15:06:34+08:00



.panel.prize{
  .title, .title-2, .title-3 {
    font-weight: bold;
    color: #84250e;
  }

  .title{
    margin-top: 5%;
  }
  .title-2{
    margin-bottom: -1%;
    font-size: 1.5rem;
    padding:0 .5em;
    line-height: 1.5;
    // width: 80%;
    // display: block;
  }
  .title-3 {
    margin-top: .8em;
  }
  .title-4 {
    margin-bottom: .2em;
    line-height: 1;
  }
  .prize-pic{
    position: relative;
    margin: 0 auto;
    width: 90%;
    >img {
        width: 100%;
        // position: absolute;
        // top:0;
        // left: 50%;
        // transform: translateX(-50%);
        &:nth-of-type(2){
          position: absolute;
          top:50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 70%;
        }
    }
  }
  .phone-pic {
    >img:nth-of-type(2) {
      top: 75%;
      width: 36%;
    }
  }
  .content-2{
    margin: 2% 0;
    // font-size: .8rem;
    p{
      font-size: .7rem;
      margin-bottom: .5em;
      text-align: center;
      color: #84250e;
    }
  }
  .content-3 {
    margin-top: 4.5em;
    p{
      margin-bottom:.5%;
    }
  }
  .content-4 {
    margin: 2em 0 2em 0;
    p {
      font-size: 1.2rem;
      color: #84250e;
      &:last-of-type {
        font-size: .7rem;
        color: #ff0c00;
      }
    }
  }
  .lingjiang {
    // position: relative;
    margin-bottom: 5%;
    input {
      box-sizing: border-box;
      width: 100%;
      border: 1px #fda22f solid;
      border-radius: 1em;
      padding: 0 1em;
      line-height: 2em;
      outline: none;
    }
  }
  .identify {
    position: relative;
    height: 2.2rem;
    margin-bottom: 3%;
    // margin-bottom: 3em;
    input {
      position: absolute;
      left: 0;
      width: 55%;
    }
    .btn-identify {
      position: absolute;
      right: 0;
      width: 40%;
      margin: 0 .1em;
      >span {
        font-size: .8rem;
      }
    }
  }
  .btn-submit {
    // position: absolute;
    margin-top: 5%;
    // left: 50%;
    // transform: translate(-50%, 50%);
    z-index: 2;
  }
}

.red {
  color: #ff0c00;
}
