.panel.rule{
  .title{
    margin: .4em 0;
    color: #84250e;
  }
  
  .content-2{
    margin: .2em 0;
    // font-size: .8rem;
    p{
        color: #3c3c3c;
        font-size: .7rem;
        font-weight: 600;
        // margin-bottom: .5em;
        text-align: left;
        line-height: 1.5;
        .super-name{
          // color: #ff0000;
        }
        > span{
          margin-left: 6.6em;
          &:nth-of-type(1){
            margin: 0;
          }
        }
    }
  }
}
