.panel.tixing{
  .title{
    margin-bottom: 1em;
  }
  .title-2{
    color: #f56868;
    margin-bottom: 1em;
    font-size: .8rem;
    padding:0 1em;
    line-height: 1.5;
    // width: 80%;
    // display: block;
  }
  .content-2{
    margin-bottom: 2em;
    // font-size: .8rem;
    p{
        color: #908c8c;
        font-size: .7rem;
        margin-bottom: .5em;
        text-align: left;
        line-height: 1.5;
        .super-name{
          color: #ff0000;
        }
    }
  }
  .btn-submit{
    margin-bottom: .5em;
  }
}
