// @Author: yingzhou xu
// @Date:   2017-04-14T11:15:01+08:00
// @Email:  dyyz1993@qq.com
// @Filename: exchange.scss
// @Last modified by:   yingzhou xu
// @Last modified time: 2017-04-14T17:18:43+08:00



.exchange.page {
    height: 100%;
    // -moz-user-select: none;
    // -khtml-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    .main-container {
      user-select: none;
      -webkit-user-select: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin: 0 auto;
        width: 85%;
        top: 9%;
        .main-img {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: -1;
        }
        .main-content {
          user-select: none;
          -webkit-user-select: none;
            position: absolute;
            top: 11%;
            left: 0;
            width: 100%;
            height: 206px;
            text-align: center;
            .main-title {
                >p {
                    font-size: 1.3rem;
                    font-weight: 600;
                    color: #f39b1d;
                    &:nth-of-type(2) {
                        font-size: 1.5rem;
                    }
                }
            }
            >img {
                width: 60%;
            }
            >p {
                font-size: .7rem;
                line-height: 1.5;
                &:nth-of-type(1) {
                    margin-top: 3%;
                }
            }
            .btn-exchange{
                margin-top: 1em;
            }
        }
        .main-submit {
          user-select: none;
          -webkit-user-select: none;
            position: absolute;
            bottom: 2%;
            width: 100%;
            .btn-exchange{
                margin-bottom: 4%;
            }
            .copy {
                display: flex;
                margin: .5em;
                font-size: 1.2rem;

                .copy-content {
                    border: 1px #fda22f solid;
                    border-radius: 1em;
                    line-height: 2;
                    width: 67%;
                    height: 2em;
                    // margin: -2em 0 0;
                    background-color: #fff;
                    span {
                        font-size: .8rem;
                        line-height: 3;
                        color: #4662e1;
                        // margin: -2em 0 0;
                        // -moz-user-select: text;
                        // -khtml-user-select: text;
                        // -webkit-user-select:element;
                        -webkit-user-select:all;
                        user-select: all;
                        word-break:keep-all;
                    }
                }
                .btn-copy {
                    user-select: none;
                    -webkit-user-select: none;
                    width: 30%;
                    font-size: .8rem;
                    text-align: center;
                    line-height: 3;
                    >img {
                    }
                }
            }
            >p, a{
                font-size: .7rem;
                line-height: 1.5;
            }
            a {
                display: inline-block;
                margin-bottom: 3%;
                text-decoration: none;
            }
        }
    }
    .side-container {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 1%;
        margin: 0 auto;
        width: 85%;
        ul {
            li {
                list-style: none;
                text-align: left;
                line-height: 1.5;
                color: #fff;
                font-size: .7rem;
                &:nth-of-type(1) {
                    font-size: .9rem;
                    line-height: 2;
                }
            }
        }
    }
}

.iqiyi-pic {
    margin-top: .5em;
}
