.exchange.page.iphone {
    .main-img {
        margin-top: 4em;
    }
    .main-content {
        top: calc(4em + 21px);
        .main-title {
            margin-top: .2em;
        }
        >img {width: 32%;}
    }
    .side-container {
        margin-top: 3em;
    }
}