.exchange.page.iphone {
    .logo-img {
        top: 4%;
    }
    .main-container{
        top: 44%;
        transform: translate(-50%,-50%);
        .main-content {
            .main-title {
                margin-top: .2em;
                p{
                    &:nth-of-type(2) {
                        position: relative;
                    }
                    span {
                        position: absolute;
                        font-size: .7rem;
                        bottom: 0.2rem;
                    }
                }
            }
            >img {width: 19%;}
        }
    }
    .side-container {
        bottom: 9%
    }
}