.rank.page{
  height: 62%;
  overflow: hidden;
  padding-bottom: 0;
  .tab{
    padding-top: .6em;
    border-bottom: 1px solid #c1bbbb;
    // margin-bottom: .2em;
    @include clear_fix();
  }
  .rank-container{
    height: 90%;
    overflow-y:auto;
  }

  .tab-item{
    width: 50%;
    float: left;
    position: relative;
    &.active span{
      color: #f2515d;
      border-bottom: 2px solid #f2515d;
    }
    span{
      // width:55%;
      display: inline-block;
      padding-bottom: .5em;
      font-size: .9rem;
    };
  }
  .tab-container{
    position: relative;
    height: 78%;
    padding:0em .5em  0 .5em ;
    @include clear_fix();
  }
  table ,.me-rank table{
    // height: 80%;
    overflow-y :auto;
    width: 100%;
    color: #000;
    border: none;
    font-size: .8rem;
    td,th{
      font-weight: normal;
      border: none;
      border-bottom: 1px dashed #b7adad;
       padding: .8em 0;
     }
    thead{
        th{
        }
        th:nth-child(1){
          width: 15%;
        };
        th:nth-child(2){
          width: 10%;
        }
    }
    tbody{
      tr:nth-child(1){
        .rank{
          background: #ffa417;
        }
        img{
          display: inline-block;
        }
      }
      tr:nth-child(2){
        .rank{
          background: #9b9b99;
        }
        img{
          display: inline-block;
        }
      }
      tr:nth-child(3){
        .rank{
          background: #c66c20;
        }
        img{

          display: inline-block;
        }
      }
      tr{
        img{
          display: none;
        }
      }
      .rank{
        box-sizing: border-box;
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        line-height: 1.5em;
        vertical-align: middle;
        border-radius: 50%;
        background: #f2515d;
        color:#fff;
      }
      td{
        font-size: .7rem;
      }
      td:nth-child(2){
        width: 10%;
        text-align: center;
        img{
          width: 40%;
        }
      };
    }
  }
  .me-rank{
    // position: absolute;
    bottom: 0;
    width: 100%;
    td,th{
        color:#fff !important;
        background: #f2515d;
      // font-weight: normal;
      // border: none;
      border-bottom:none !important;
      //  padding: .8em 0;
      .rank{
          background: #fff !important;
          color: #f2515d !important;
      }
     }
  }

}
